<div class="jumbotron">
	<center>
		<h1>Let's eat good food.</h1>
		<h4>Healthy and happy for all</h4>

		<img src="http://whalebonemag.com/wp-content/uploads/2015/06/38589-Outdoor-Dinner-Party.jpg">
		<br>

		<%= link_to "Check out our menu", menus_path, class: "btn btn-default" %>
	</center>

</div>